[Unit]
Description=Daily rsyslog mysql housekeeping

[Timer]
OnCalendar=*-*-* 19:00
RandomizedDelaySec=42
Persistent=true
Unit=rsyslog-housekeeping.service

[Install]
WantedBy=timers.target
