[Unit]
Description=Daily mattermost housekeeping

[Timer]
OnCalendar=*-*-* 19:00
RandomizedDelaySec=42
Persistent=true
Unit=mattermost-housekeeping.service

[Install]
WantedBy=timers.target
