[Unit]
Description=Hourly mattermost housekeeping

[Timer]
OnCalendar=hourly
RandomizedDelaySec=42
Persistent=true
Unit=mattermost-housekeeping.service

[Install]
WantedBy=timers.target
