[Unit]
Description=Weekly mattermost housekeeping

[Timer]
OnCalendar=Fri *-*-* 19:00
RandomizedDelaySec=42
Persistent=true
Unit=mattermost-housekeeping.service

[Install]
WantedBy=timers.target
